<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www/thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style.css">
   <title>ブログ</title>
   <!-- タイトルをデータベースから取ってきたい -->
</head>

<body>
   <header>
      <a href="/blogs" class="homeBack">
         <h1>spring</h1>
      </a>
      <input type="text" placeholder="キーワード検索" name="searchForm" class="searchForm">
      <a href="/blogs/newPost" class="postButton">投稿</a>
   </header>

   <div class="yoko">
      <nav>
         <ul>
            <a href="/blogs" class="navigation">
               <li>ホーム</li>
            </a>
            <li>プロフィール</li>

         </ul>
      </nav>

      <div>
         <h2 th:text="${blogs.title}">ブログのタイトル</h2><br>
         <p th:text="${blogs.texts}">本文</p>
      </div>

   </div>


</body>

</html>